@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.nft_header {
    background: #2B2B2B;
    display: flex;
    justify-content: space-between;
    color: #F5F5F5;
    padding: 20px 50px;
}

.nft_header .nft_header-left {
    display: flex;
    align-items: center;
}
.nft_header .nft_header-left i {
    color: #A259FF;
}
.nft_header .nft_header-left h3 {
    margin-left: 12px;
}

.nft_header .nft_header-right {
    display: flex;
    list-style:  none;
    align-items: center;
}

.nft_header .nft_header-right .nft_header-right-item {
    margin-left: 20px;
}

.nft_header .nft_header-right .nft_header-right-item:last-child div {
    margin-left: 30px;
    padding: 30px 24px ;
    display: flex;
}

.nft_header .nft_header-right .nft_header-right-item:last-child div i {

}

.nft_header .nft_header-right .nft_header-right-item:last-child div p {

}

