@media screen and (max-width: 768px) {
    /* header */
    .nft_header{
        align-items: center;
    }

    .nft_header .nft_header-right {
        display: none;
    }
    .nft_header .icon-bar-responsive{
        display: block;
    }
    /* userInfo */
    .nft_userInfo .nft_userInfo-top{
        flex-direction: column;
    }
    .nft_userInfo .nft_userInfo-top h2 {
        margin-bottom: 30px;
        font-size: 38px ;
    }
    .nft_userInfo .nft_userInfo-bottom .nft_userInfo-bottom-param div .param{
        font-size: 22px;
    }
    .nft_userInfo .nft_userInfo-bottom .nft_userInfo-bottom-param div .text{
        font-size: 16px;
    }
}
@media screen and (max-width: 418px) {
    /* header */
    .nft_header{
        padding: 15px 30px;
    }
    /* profileImage */
    .nft_profileImage img{
        left: 34%;
    }
    /* userInfo */
    .nft_userInfo .nft_userInfo-top .nft_userInfo-top-button{
        flex-direction: column;
    }
    
}